extends ../layout

block content
  h3.text-center 用户信息修改
  br
  .container
    .error_wrap
      p.bg-danger.error_tips 错误提示
    .row
      if user && user.name
        form.form-horizontal.user_form(name="userform" method="POST" action="/admin/user/update")
          .form-group.hidden
            input(type="text" name="id" value=user.id)
          .form-group
            label.col-md-2.control-label 姓名
            .col-md-8
              input(type="text" id="name" name="name" value=user.name data-oldval=user.name).form-control
          .form-group
            label.col-md-2.control-label 年龄
            .col-md-8
              input(type="text" id="age" name="age" value=user.age data-oldval=user.age).form-control
          .form-group
            label.col-md-2.control-label 职业
            .col-md-8
              input(type="text" id="job" name="job" value=user.job data-oldval=user.job).form-control
          .form-group
            label.col-md-2.control-label 爱好
            .col-md-8
              input(type="text" id="hobby" name="hobby" value=user.hobby data-oldval=user.hobby).form-control
          .form-group
            .col-md-1.col-md-offset-2
              button(type="submit").submit_btn.btn.btn-primary 提交修改
            .col-md-2
              a(href="/admin/").btn.btn-primary 返回
      else
        .alert.alert-warning 查询用户信息出错

  //导入用户处理脚本
  script(src="/js/user_update.js")